body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

nav {
  background-color: #edf1fa;
  padding: 2px 12px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin: auto 10px;
}

label {
  margin-right: 10px;
}

main {
  margin: 100px 5vw;
}

main > h1 {
  margin: 45px auto;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  /* background-color: #2196f3; */
  padding: 10px;
}

.grid-container > article {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  text-align: left;
  margin: auto;
}

.grid-container-item1 {
  grid-area: 1 / 1 / 1 / 1;
  /* padding: 20px 97px !important; */
}
.grid-container-item2 {
  grid-area: 1 / 2 / 1 / 2;
}
.grid-container-item3 {
  grid-area: 2 / 1 / 4 / 1;
}
.grid-container-item4 {
  grid-area: 2 / 2 / 2 / 2;
}
.grid-container-item5 {
  grid-area: 3 / 2 / 3 / 2;
}

.contact-section {
  background-color: #edf1fa;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5px 5px;
}

.contact-section-left {
  flex-basis: 50%;
  text-align: center;
  font-size: 50px;
}

.contact-section-right {
  flex-basis: 50%;
  padding: 20px;
  background-color: #fff;
}

.contact-form {
  text-align: left;
}

footer {
  background-color: #edf1fa;
  position: relative;
  bottom: 0;
  padding: 5px 20px;
}

@media only screen and (max-width: 991px) {
  .grid-container {
    margin: auto;
    text-align: center;
    grid-template-columns: auto;
  }

  .grid-container-item1 {
    grid-area: 1;
    /* padding: 20px 0 !important; */
  }
  .grid-container-item2 {
    grid-area: 3;
  }
  .grid-container-item3 {
    grid-area: 2;
  }
  .grid-container-item4 {
    grid-area: 4;
  }
  .grid-container-item5 {
    grid-area: 5;
  }
  .contact-section {
    flex-direction: column;
    gap: 10;
  }
  .contact-section-left {
    /* margin: 15px; */
    font-size: 25px;
  }
}
